*{
  margin: 0px;
  padding: 0px;
}
html, body {
  width: 100%;
  height:100vh;
}
#wrapper{
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: black;
  color: blanchedalmond;
  padding: 10%;
}
#title {
  padding-top: 0.8%;
  text-align: center;
  font-size: 80px;
}
.subHead {
  color: darkgray;
  text-align: center;
  margin-bottom: 15px;
  border: thin solid ;
}
#bodyDiv{
  padding: 5% 0;
  display:flex;
  justify-content: space-around;
  width: 100%;
}
.inputForm{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5% auto;
}
.formGroup {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}
.inputForm .formGroup label {
  text-align: left;
  width: 150px;
}
.inputForm .formGroup input {
  width: 200px; 
  padding: 2px 0;
}
.inputForm button {
  margin-top: 20px;
  padding: 3px 6px;
  max-width: fit-content;
} 
.error {
  color: crimson;
  margin: 2px auto;
}
textarea{
  overflow-wrap: break-word;
}
#displayWrapper {
  margin: 0 auto;
  border: thick solid;
  width: 900px;
  padding: 40px 20px;
  text-align: center;
}
#displayTable {
  margin: 0 auto;
  width: 750px;
  border-collapse: collapse;
}
#displayTable th{
  text-align: center;
}
.tableData {
  padding: 8px 10px;
  text-align: center;
}
.navLink {
  color: coral;
  margin: 0 10px;
}